@charset "UTF-8";
/*
*
**Common Style**
*
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat; }

/**PC*/
section {
  display: block; }

.header-container {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.main-container {
  height: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px; }

.foot-container {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px; }

/**mobile*/
@media screen and (max-width: 640px) {
  .header-container {
    height: 2.5rem; }
  .main-container {
    top: 2.5rem; } }

/*
*
**index**
*
*/
.container-index {
  width: 100%;
  height: 100%;
  /* 背景 */
  /* background: linear-gradient(to top, palevioletred 0%, #fff 100%); */
  background: no-repeat linear-gradient(to bottom, #011a39 0%, #009d7f 100%); }

/*
*
**now**
*
*/
.container-now {
  width: 100%;
  height: 100%;
  /* 背景 */
  /* background: linear-gradient(to top, palevioletred 0%, #fff 100%); */
  /* background: no-repeat linear-gradient(to bottom, #011a39 0%, #009d7f 100%); */
  background: no-repeat linear-gradient(to bottom, #243546 0%, #222423 100%); }

/*
*
**recollect**
*
*/
.container-recollect {
  width: 100%;
  height: 100%;
  /* 背景 */
  background: linear-gradient(to top, palevioletred 0%, #fff 100%); }

/*
*
**future**
*
*/
.container-future {
  width: 100%;
  height: 100%;
  /* 背景 */
  /* background: linear-gradient(to top, palevioletred 0%, #fff 100%); */
  background: no-repeat linear-gradient(to bottom, #093770 0%, #2805a78f 100%); }

.frame {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  top: 300px;
  box-shadow: 0 0 50px 30px black inset;
  position: relative;
  overflow: hidden; }

.photo {
  opacity: 0;
  position: absolute;
  animation: fade 12s infinite; }

@keyframes fade {
  25% {
    opacity: 1; }
  50% {
    opacity: 0; } }

.photo:nth-child(1) {
  animation-delay: 0s; }

.photo:nth-child(2) {
  animation-delay: 4s; }

.photo:nth-child(3) {
  animation-delay: 8s; }

@media screen and (max-width: 640px) {
  .frame {
    width: 300px;
    height: 180px;
    top: 130px; }
  .photo {
    width: 300px;
    height: 180px;
    opacity: 0;
    position: absolute;
    animation: fade 12s infinite; } }

/*
*
**罗马时钟**
*
*/
#clock {
  position: relative;
  width: 100%;
  height: 100%; }

.label {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  font-size: 1em;
  transition: left 1s, top 1s;
  transform-origin: 0% 0%; }

.demo-clock {
  height: 80px;
  width: 80px;
  position: absolute;
  right: -10px;
  border-radius: 50%;
  transform: translate(-50%, -50%); }

@media screen and (max-width: 640px) {
  #clock {
    top: 200px;
    left: -250px;
    width: 500px;
    height: 364px;
    font-size: 13px !important; }
  .demo-clock {
    height: 80px;
    width: 80px;
    position: absolute;
    right: -35px;
    top: 45px;
    border-radius: 50%;
    transform: translate(-50%, -50%); } }

/*
*
**立方体内容部分**
*
*/
li {
  list-style: none; }

.box-container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 60px;
  margin: 0 auto; }

.box {
  width: 200px;
  height: 200px;
  top: 45%;
  left: 44%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /* preserve-3d:所有子元素在3D空间中呈现 */
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg);
  -webkit-animation: move 5s linear infinite; }

.minbox {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 30px;
  -webkit-transform-style: preserve-3d; }

.minbox li {
  width: 100px;
  height: 100px;
  position: inherit;
  left: 0;
  top: 0; }

/* :nth-child(n):轻松选取想要的标签并给与修改添加样式 */
/* 理解角度旋转变化：https://c.runoob.com/codedemo/3391/ */
.minbox li:nth-child(1) {
  background: url(../img/01.png) no-repeat 0 0;
  /* 值越大离用户越近（（200-100）/2 = 50px）;所有子元素都统一 */
  -webkit-transform: translateZ(50px); }

.minbox li:nth-child(2) {
  background: url(../img/02.png) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(50px); }

.minbox li:nth-child(3) {
  background: url(../img/03.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px); }

.minbox li:nth-child(4) {
  background: url(../img/04.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px); }

.minbox li:nth-child(5) {
  background: url(../img/05.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px); }

.minbox li:nth-child(6) {
  background: url(../img/06.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px); }

.maxbox {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  top: -20px;
  -webkit-transform-style: preserve-3d; }

.maxbox li {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  position: inherit;
  left: 0;
  top: 0;
  opacity: 0.2;
  -webkit-transition: all 1s ease; }

.maxbox li:nth-child(1) {
  background: url(../img/1.png) no-repeat 0 0;
  -webkit-transform: translateZ(100px); }

.maxbox li:nth-child(2) {
  background: url(../img/2.png) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(100px); }

.maxbox li:nth-child(3) {
  background: url(../img/3.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(100px); }

.maxbox li:nth-child(4) {
  background: url(../img/4.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(100px); }

.maxbox li:nth-child(5) {
  background: url(../img/5.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(100px); }

.maxbox li:nth-child(6) {
  background: url(../img/6.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(100px); }

.box:hover ol li:nth-child(1) {
  -webkit-transform: translateZ(200px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px; }

.box:hover ol li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(200px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px; }

.box:hover ol li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(200px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px; }

.box:hover ol li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px; }

.box:hover ol li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px; }

.box:hover ol li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px; }

/* 增加动画效果 */
@keyframes move {
  0% {
    -webkit-transform: rotateX(13deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotateX(13deg) rotateY(360deg); } }

@media screen and (max-width: 640px) {
  .box {
    width: 100px;
    height: 100px;
    left: 6.875rem;
    position: fixed; }
  .minbox {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    top: 10px; }
  .minbox li {
    width: 50px;
    height: 50px;
    position: inherit;
    background-size: 3.125rem;
    left: 0;
    top: 0; }
  .maxbox {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -20px; }
  .maxbox li {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #ccc;
    position: inherit;
    background-size: 6.25rem;
    left: 0;
    top: 0;
    opacity: 0.2;
    -webkit-transition: all 1s ease; }
  .minbox li:nth-child(1) {
    -webkit-transform: translateZ(25px); }
  .minbox li:nth-child(2) {
    -webkit-transform: rotateX(180deg) translateZ(25px); }
  .minbox li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(25px); }
  .minbox li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(25px); }
  .minbox li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(25px); }
  .minbox li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(25px); }
  .maxbox li:nth-child(1) {
    -webkit-transform: translateZ(50px); }
  .maxbox li:nth-child(2) {
    -webkit-transform: rotateX(180deg) translateZ(50px); }
  .maxbox li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(50px); }
  .maxbox li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(50px); }
  .maxbox li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(50px); }
  .maxbox li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(50px); }
  .box:hover ol li:nth-child(1) {
    -webkit-transform: translateZ(100px);
    width: 200px;
    height: 200px;
    opacity: 0.8;
    left: -50px;
    top: -50px;
    background-size: 12.5rem; }
  .box:hover ol li:nth-child(2) {
    -webkit-transform: rotateX(180deg) translateZ(100px);
    width: 200px;
    height: 200px;
    opacity: 0.8;
    left: -50px;
    top: -50px;
    background-size: 12.5rem; }
  .box:hover ol li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    width: 200px;
    height: 200px;
    opacity: 0.8;
    left: -50px;
    top: -50px;
    background-size: 12.5rem; }
  .box:hover ol li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    width: 200px;
    height: 200px;
    opacity: 0.8;
    left: -50px;
    top: -50px;
    background-size: 12.5rem; }
  .box:hover ol li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    width: 200px;
    height: 200px;
    opacity: 0.8;
    left: -50px;
    top: -50px;
    background-size: 12.5rem; }
  .box:hover ol li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    width: 200px;
    height: 200px;
    opacity: 0.8;
    left: -50px;
    top: -50px;
    background-size: 12.5rem; } }

/*
*
**导航栏**
*
*/
.nav {
  position: absolute;
  width: 320px;
  height: 50px;
  right: 4rem;
  top: 0px;
  /* background: no-repeat linear-gradient(to bottom, #3a90e1 0%, #2d65cc 100%); */
  margin: 10px auto 0; }

ul {
  list-style: none; }

.nav li {
  float: left;
  width: 60px;
  height: 50px;
  margin: 10px 10px 0;
  text-align: center; }

.nav a {
  width: 60px;
  height: 30px;
  /* margin: 10px 10px 0; */
  display: block;
  font-size: 20px;
  color: #eff3f6;
  text-decoration: none; }

.nav a:hover {
  color: #247ef3;
  background-color: #53bada; }

/* 快捷导航栏 */
.demo {
  height: 80px;
  width: 80px;
  position: absolute;
  right: -10px;
  border-radius: 50%;
  transform: translate(-50%, -50%); }

.navbar {
  top: 700px;
  right: 20px;
  opacity: 0.6;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #383838;
  transition: 0.24s 0.2s; }

.navbar:hover {
  background: rgba(255, 255, 255, 0.75); }

.navbar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -100px;
  left: -100px;
  border: 150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1; }

.navbar:hover .menu {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1; }

.navbar .menu li {
  position: absolute;
  top: -100px;
  left: -100px;
  transform-origin: 100px 100px;
  transition: all 0.5s 0.1s; }

.navbar:hover .menu li {
  transition: all 0.6s; }

.navbar .menu li a {
  transition: all 0.4s ease 0s;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  font-size: 60%;
  color: #99b977;
  transition: 0.6s;
  text-decoration: none; }

.navbar .menu li a:hover {
  background-color: #49d8f8;
  color: #fff; }

.navbar:hover .menu li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(5deg); }

.navbar:hover .menu li:nth-child(1) a {
  transition-delay: 0.04s;
  transform: rotate(0deg); }

.navbar:hover .menu li:nth-child(2) {
  transition-delay: 0.04s;
  transform: rotate(-35deg); }

.navbar:hover .menu li:nth-child(2) a {
  transition-delay: 0.08s;
  transform: rotate(35deg); }

.navbar:hover .menu li:nth-child(3) {
  transition-delay: 0.06s;
  transform: rotate(-75deg); }

.navbar:hover .menu li:nth-child(3) a {
  transition-delay: 0.12s;
  transform: rotate(70deg); }

.navbar:hover .menu li:nth-child(4) {
  transition-delay: 0.08s;
  transform: rotate(-115deg); }

.navbar:hover .menu li:nth-child(4) a {
  transition-delay: 0.16s;
  transform: rotate(105deg); }
/* canvas{display: block;width: 100%;height: 100%;position:absolute;z-index: -1;} */
/* mobiel */
@media screen and (max-width: 640px) {
  .demo {
    right: -34px; }
  .navbar {
    width: 3rem;
    height: 3rem;
    right: 0.625rem;
    top: 24rem;
    position: absolute;
    line-height: 3rem;
    font-size: 0.9rem; }
  .navbar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: -30px;
    border: 84px solid transparent;
    cursor: default;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1; }
  .navbar .menu li {
    top: -140px;
    left: -54px;
    transform-origin: 30px 60px; }
  .navbar .menu li a {
    width: 1.7rem;
    height: 1.7rem;
    line-height: 2rem;
    font-size: 0.8rem; }
  .nav {
    position: none;
    width: 14rem;
    height: 2.5rem;
    right: 4rem;
    margin: 0.8rem auto 0; }
  ul {
    list-style: unset; }
  .nav li {
    width: 3rem;
    height: 2.5rem;
    margin: 0.25rem 0.25rem 0; }
  .nav a {
    width: 3rem;
    height: 2.5rem;
    display: block;
    font-size: 0.9rem; } }

.text-index {
  position: absolute;
  left: 50px;
  top: 135px;
  color: #6ad5ff; }

.text-index span {
  display: inline-block;
  font-size: 18px;
  padding-left: 2px;
  padding-bottom: 5px; }
