* {
    margin: 0px;
    padding: 0px;
}

body {
    /* padding: auto;
    margin: auto; */
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #f4fdfd;
}

.head {
    height: 160px;
    width: 100%;
    margin: 0 auto;
    background-color: #2C7DBC;
    /* position: absolute;
    top: -8px;
    right: 8px; */
    
}

.main-container {
    padding-left: 2%;
    padding-right: 2%;
    bottom: 60px;
}

.main {
    height: 600px;
    width: 1200px;
    margin: 50px auto 0px auto;
    min-width: 1000px;
    max-width: 1200px;
    background-color: #f4fdfd;
    position: relative;
    /* top: 195px; */
    /* border: 1px solid rgb(0, 0, 0); */
    /* left: 10px; */
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px #888888;
    
}

.head-first {
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #2C7DBC;
}

.head-second {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: #2C7DBC;
    top: 80px;
    margin: 0 auto;
}

.head-first-left {
    float: left;
    width: 174px;
    height: 48px;
    margin: 10px 15px;
    background-color: #2C7DBC;
}

.head-first-right {
    float: right;
    width: 80px;
    height: 30px;
    background-color: #2C7DBC;
    margin: 20px 10px 0px 0px;
}

.title {
    position: relative;
    padding: 28px 0px 8px 0px;
    background-color: #f4fdfd;
    width: 1140px;
    margin: 0 auto;
    border-bottom: rgb(155, 157, 160) 1px solid;
}

.table-title {
    /* position: static; */
    background-color: #f4fdfd;
    width: 1140px;
    margin: 28px auto 8px;
}

.table {
    /* position: static; */
    height: 182px;
    width: 1140px;
    margin: 0 auto;
    background-color: #f4fdfd;
}

.table-left {
    /* position: static; */
    display: inline-block;
    width: 560px;
    height: 170px;
    background-color: #e5e2d924;
    margin: 0 10px 0 0;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.table-right {
    position: absolute;
    display: inline-block;
    width: 560px;
    height: 170px;
    background-color: #e5e2d924;
    margin: 0px 0px 0px 10px;
    /* right: 28px; */
    border: 1px solid #ddd;
    border-radius: 12px;
}

.table-conentleft {
    /* position: absolute; */
    float: left;
    width: 100px;
    height: 100px;
    background-color: #e5e2d924;
    margin: 45px auto 45px 70px;
}

.table-conentright {
    /* position: absolute; */
    float: right;
    width: 300px;
    height: 100px;
    background-color: hsl(206, 26%, 95%);
    margin: 45px 30px 45px auto;
}

.content-box {
    float: none;
    width: 100%;
    height: 32px;
    border-color: #2C7DBC;
    display: block;
    border-top: solid 0.3px rgb(158, 151, 151);;
    /* border-bottom: solid 1px; */
}

.content-box2 {
    float: none;
    width: 100%;
    height: 32px;
    border-color: #2C7DBC;
    display: block;
    border-top: solid 0.3px rgb(158, 151, 151);;
    border-bottom: solid 1px rgb(158, 151, 151);;
}

.content-box-left {
    height: 33px;
    width: 110px;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

.content-box-right {
    height: 33px;
    width: 140px;
    display: inline-block;
    font-size: 13px;
    text-align: right;
}

.menubox {
    width: 779px;
    height: 64px;
    position: relative;
    background-color: #2C7DBC;
    margin: 0 auto;
}

.menu {
    width: 152px;
    height: 64px;
    position: relative;
    background-color: #2C7DBC;
    display: inline-block;
    margin: 0 auto;
}

.menuconnent {
    float: left;
    width: 130px;
    height: 50px;
    margin: 5px 5px 5px 10px;
    background-color: #2C7DBC;
    font-size: 26px;color: hsl(206, 26%, 95%); margin: 10px 10px 10px 20px;
}

ul {
   list-style-type: none;
}

.nav {
    top: 80px;
    height: 70px;
    width: 760px;
    margin: 0px auto;
    background-color: #2c7dbc;
    position: relative;
}

.nav li {
    float: left;
    height: 64px;
    width: 152PX;
    line-height: 64px;
    text-align: center;
}

.nav a {
    height: 64px;
    width: 152PX;
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: hsl(206, 26%, 95%);
}

.nav a:hover {
    color: #5ED4F7;
    /* background-color: #d12023; */
}



