<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link type="text/css" href="../css/menu.css" rel="stylesheet" />
	<link type="text/css" href="../css/future-style.css" rel="stylesheet" />
	<title>o_tea future</title>
</head>

<body>
	<div class="container">
		<div class="main-container-body">
			<div class="main-menubox">
				<div class="demo">
					<div class="navbar">导航
						<ul class="menu">
							<li><a href="../index.html">主页</a></li>
							<li><a href="./recollect.html">回忆</a></li>
							<li><a href="./now.html">现在</a></li>
							<li><a href="#">未来</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="foot-container">

		</div>
	</div>
</body>
</html>